.skin-blue .sidebar-menu>li>.treeview-menu {
    background: #ddd;
    color: #232323;
}
.skin-blue .treeview-menu>li.active>a, .skin-blue .treeview-menu>li>a:hover {
    color: #232323;
}
.skin-blue .treeview-menu>li>a {
    color: #232323;
}
textarea, input{
  font-family: monospace!important;
}
